/* ALL */
body {
  font-family: arial;
  font-size: 14px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

a {
  text-decoration: none;
}
/* HEADER */

header {
  display: flex;
  flex-direction: row;
  background-color: #323232;
  height: 7rem;
  align-items: center;
}

img {
  max-height: 2rem;
}

h1 {
  color: white;
  align-self: center;
  text-transform: uppercase;
  font-size: 1rem;
}

.headerButton {
  margin: 1rem;
  color: white;
  background-color: #464646;
  border: 1px solid grey;
}

.headerInput {
  margin: 1rem;
  color: white;
  background-color: #464646;
  border: 1px solid grey;
}
/* BANNER */

.background-image1 {
  display: flex;
  background: url("../images/01.jpg") no-repeat center center;
  background-size: cover;
  height: 30rem;
  justify-content: center;
  text-align: center;
}

p {
  margin-top: 7rem;
  font-style: italic;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 15rem;
  padding: 1rem;
}

#addTodoTextInput {
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(50, 50, 50, 0.4);
  border: 1px solid white;
  color: white;
}

.taskGenerator {
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fc6503;
  border: none;
  cursor: pointer;
  transition: all 0.1s linear;

}

.taskGenerator:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #f5a26c;
}
/* TASK LIST */

ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fc6503;
  color: white;
  width: 10rem;
  height: 5rem;
  border-radius: 0.5rem;
}

.deleteButton {
  position: absolute;
  display: block;
  float: right;
  top: 0;
  right: 0;
  border-radius: 0.2rem;
  border: none;
}

.deleteButton:hover {
  color: white;
}

/* FOOTER */


/* MEDIA */
